* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

header {
    height: 10vh;
    background-color: #AAA;
    display: flex;
    align-items: center;
    justify-content: center;
}

.crypto-container {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.letter {
    padding: 10px;
    font-size: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.space {
    width: 3vw;
}